:root {
    color-scheme: light dark;
    --body-bg: white;
    --body-fg: black;
    --input-bg: white;
    --input-fg: black;
    --input-border: gray;
    --input-placeholder: rgb(140, 140, 140);
    --button-bg: #f5f5f5;
    --button-bg-gradient-bottom: #dddddd;
    --button-bg-hover: #f5f5f5;
    --button-fg: black;
    --project-bg: #f8f8f8;
    --project-bg-gradient-top: #e6e6e6;
    --shadow-base: gray;
    --panel-box-header-bg: rgb(84 82 77);
    --panel-box-header-fg: white;
    --panel-box-header-close-bg: rgb(104 99 98);
    --panel-box-body-bg: rgb(229 229 224);
    --panel-box-body-secondary-fg: #525252;
    --calendar-cell-base-border: white;
    --calendar-cell-base-fg: #8e8d8d;
    --calendar-cell-active-fg: #a7a6a6;
    --calender-cell-active-bg: rgba(255, 255, 255, 0.7);
    --calendar-cell-active-future-fg: black;
    --calendar-cell-active-hover-bg: white;
    --calendar-cell-active-hover-border: gray;
    --calendar-cell-active-today-border: rgb(34, 133, 151);
    --calendar-cell-selected-active-future-bg: rgb(59, 147, 179);
    --calendar-cell-selected-active-future-fg: white;
    --calendar-cell-selected-bg: rgb(184, 213, 224);
    --calendar-cell-selected-fg: white;
    --calendar-cell-selected-hover-bg: rgb(17, 102, 133);
    --calendar-cell-selected-hover-fg: white;
    --calendar-cell-selected-hover-border: white;
    --tag-neutral-bg: gray;
    --tag-neutral-fg: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: black;
        --body-fg: white;
        --input-bg: #454545;
        --input-fg: white;
        --input-border: gray;
        --input-placeholder: rgb(131, 131, 131);
        --button-bg: #505050;
        --button-bg-gradient-bottom: #696969;
        --button-bg-hover: #505050;
        --button-fg: white;
        --project-bg: #222222;
        --project-bg-gradient-top: #2a2a2a;
        --shadow-base: rgb(27, 27, 27);
        --panel-box-header-bg: rgb(90 85 77);
        --panel-box-header-fg: white;
        --panel-box-header-close-bg: rgb(73 69 52);
        --panel-box-body-bg: rgb(52 49 46);
        --panel-box-body-secondary-fg: #a9a9a9;
        --calendar-cell-base-border: #979797;
        --calendar-cell-active-fg: #7d7d7d;
        --calendar-cell-selected-bg: rgb(28 62 78);
        --calendar-cell-selected-fg: gray;
    }
}
