:root {
    color-scheme: light dark;
    --body-bg: white;
    --body-fg: black;
    --input-bg: white;
    --input-fg: black;
    --input-border: gray;
    --input-placeholder: rgb(140, 140, 140);
    --button-bg: #f5f5f5;
    --button-bg-gradient-bottom: #dddddd;
    --button-bg-hover: #f5f5f5;
    --button-fg: black;
    --project-bg: #f8f8f8;
    --project-bg-gradient-top: #e6e6e6;
    --shadow-base: gray;
    --panel-box-header-bg: rgb(84 82 77);
    --panel-box-header-fg: white;
    --panel-box-header-close-bg: rgb(104 99 98);
    --panel-box-body-bg: rgb(229 229 224);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: black;
        --body-fg: white;
        --input-bg: #454545;
        --input-fg: white;
        --input-border: gray;
        --input-placeholder: rgb(131, 131, 131);
        --button-bg: #505050;
        --button-bg-gradient-bottom: #696969;
        --button-bg-hover: #505050;
        --button-fg: white;
        --project-bg: #222222;
        --project-bg-gradient-top: #2a2a2a;
        --shadow-base: rgb(27, 27, 27);
        --panel-box-header-bg: rgb(90 85 77);
        --panel-box-header-fg: white;
        --panel-box-header-close-bg: rgb(73 69 52);
        --panel-box-body-bg: rgb(52 49 46);
    }
}
