body {
    margin: 0 0;
    padding: 0 0;
    overflow: auto scroll;
}
header {
    padding: 50px 0;
}
h1.header {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
    font-size: 40pt;
}
@media (max-width: 400px) {
    h1.header {
        font-size: 32px;
    }
}
h1.header > .cz-start, h1.header > .cz-end {
    background: rgb(100, 100, 100);
    color: white;
    padding: 0.5rem;
    border: 1px #444 solid;
    border-radius: 0.2rem;
    box-shadow: -0.2rem 0.2rem 4px rgb(44, 44, 44);
}
h1.header > .oo {
    background: #0057B7;
    font-size: 80%;
    color: #4f91cd;
    padding: 0.1rem;
    border: 1px #4f91cd solid;
    border-radius: 4px;
    box-shadow: -0.2rem 0.2rem 4px rgb(44, 44, 44);
}
h1.header > .d {
    background: #FFD700;
    font-size: 110%;
    color: #fff7c8;
    padding: 0.5rem;
    border: 1px #fff7c8 solid;
    border-radius: 4px;
    box-shadow: -0.2rem 0.2rem 4px rgb(44, 44, 44);
}
h1.header > .le {
    background: white;
    font-size: 60%;
    color: #cccccc;
    padding: 0.5rem;
    border: 1px #cccccc solid;
    border-radius: 4px;
    box-shadow: -0.2rem 0.2rem 4px rgb(44, 44, 44);
}
.width {
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5rem;
    position: relative;
}
@media (min-width: 600px) {
    .width {
        padding: 2rem;
    }
}
.desc {
    font-size: 24px;
    text-align: center;
}
.start {
    padding: 50px 0;
    text-align: center;
}

/* Common UI types */

.common-button,
.common-select {
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    background: #f5f5f5 linear-gradient(to bottom, #f5f5f5, #dddddd);
    border-radius: 4px;
}

.common-button:hover,
.common-select:hover {
    background: #f5f5f5;
}

.common-button.common-wide {
    padding: 4px 10px;
}

.common-button-bigger {
    margin: 1px;
    padding: 7px 7px 5px 7px;
    font-size: 12pt;
    box-shadow: -1px 1px 3px gray;
    border-radius: 5px;
}

.common-add-icon::before {
    content: "+ ";
    font-weight: bold;
    font-size: 120%;
    line-height: 1;
}

.common-input {
    color: black;
    padding: 4px 5px;
    font-size: 100%;
    border: 1px gray solid;
}

.common-icon-button {
    font-size: 120%;
    border: 1px transparent solid;
    border-radius: 5px;
    background: none;
    vertical-align: middle;
}
.common-icon-button:hover {
    border-color: gray;
}
.common-icon-button:disabled:hover {
    border-color: transparent;
}

.common-group-first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.common-group-middle {
    border-radius: 0;
    border-left: none;
}

.common-group-last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.invisible {
    visibility: hidden;
}

.relative {
    position: relative;
}

/* Colors */

.colors-add {
    color: white;
    background: rgb(21, 177, 0);
}

.colors-add:hover {
    background: rgb(13, 110, 0);
}

.colors-edit {
    color: white;
    background: rgb(27, 27, 247);
}

.colors-edit:hover {
    background: rgb(15, 15, 124)
}

.colors-neutral {
    color: black;
    background: #ddd;
    border: 1px #ccc solid;
}

.colors-neutral:hover {
    background: #eee;
}

/* Create project page */

.start-button {
    border-radius: 10px;
    min-width: 100px;
    padding: 15px 25px;
    font-size: 18pt;
    box-shadow: -3px 3px 9px gray;
}
@media (min-width: 600px) {
    .start-button {
        font-size: 22pt;
        padding: 25px 35px;
    }
}

.translation-base-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.translation-list {
    position: absolute;
    bottom: -1px;
    right: 1em;
    box-sizing: border-box;
}

.translation-item {
    display: inline-block;
    color: #959595;
    margin: 0 0.25em 0 0.25em;
    border-bottom: 1px transparent solid;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}
@media (max-width: 500px) {
    .translation-item {
        font-size: 22px;
        margin: 0 0.5em 0 0.5em;
    }
}
.translation-item-selected {
    border-bottom-color: #959595;
}
.translation-item:hover {
    border-bottom-color: #555555;
}

.project {
    background: linear-gradient(#e6e6e6, #f8f8f8 70px, #f8f8f8);
    padding-bottom: 1rem;
}
.project-title {
    width: 100%;
    padding: 8px 10px 5px 10px ;
    font-size: 14pt;
}
.project-title-label {
    font-weight: bold;
    display: block;
}
.add-poll-line {
    margin-top: 1.5rem;
}
.add-poll-button {
    border: none;
}

.box-info {
    margin: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.box-info-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    background: rgb(30, 30, 235);
    color: white;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-right: 1rem;
}

.box-info-text {
    font-size: 110%;
}

.polls-empty-add {
    display: block;
    text-decoration: none;
    margin: 0.75rem 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    background: white linear-gradient(to bottom, white, white 80%, lightgray);
}
.polls-empty-add:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.polls-empty-add-title {
    background: rgb(21, 177, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: bold;
}
.polls-empty-add:hover > .polls-empty-add-title {
    background-color: rgb(13, 110, 0);
}

.polls-empty-add-description {
    border: 2px rgb(21, 177, 0) solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.25rem;
    font-size: 110%;
}
.polls-empty-add:hover > .polls-empty-add-description {
    border-color: rgb(13, 110, 0);
}

.poll {
    margin: 1rem 0;
    background: rgb(237, 244, 255);
    border: 1px rgb(34, 133, 151) solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.poll-header-row {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    color: white;
    background: rgb(34, 133, 151);
}

.poll-body {
    padding: 1rem;
}

.poll-header-name {
    flex: 1 1 auto;
    font-family: sans-serif;
}

.poll-header-delete {
    flex: 0 0 auto;
}

.delete-poll-button {
    color: white;
    background: rgb(34, 133, 151);
    border-color: white;
    border-width: 2px;
}

.delete-poll-button:hover {
    background: rgb(172, 0, 0);
}

.poll-name-label, .poll-description-label {
    display: block;
}

.poll-description-label {
    margin-top: 0.5em;
}

.poll-name-input, .poll-description-textarea {
    width: 100%;
}

.poll-description-textarea {
    font-family: sans-serif;
}

.poll-instructions {
    margin: 1rem 0 0.5rem;
    color: #444;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

.poll-options-header {
    margin: 1rem 0;
}

.poll-option-generic {
    margin: 0.5rem;
}

.poll-option-generic-input {
    max-width: 190px;
}

.poll-option-generic-input.poll-option-hidden {
    opacity: 0.4;
    text-decoration: line-through;
}

.poll-options-list {
    padding-left: 25px;
}

/* Generic */

.nowrap {
    white-space: nowrap;
}

/* Calendar */

.calendar-table {
    margin-top: 0.5rem;
    user-select: none;
}

.calendar-row {
    display: flex;
}

.calendar-cell {
    min-height: 3rem;
    font-size: 150%;
    margin: 3px;
    border-radius: 5px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    color: lightgray;
    cursor: pointer;
}

.calendar-cell.calendar-header-cell {
    border-color: transparent;
    background: none;
    cursor: default;
    color: gray;
}

.calendar-cell.calendar-cell-active {
    color: #a7a6a6;
    background: rgba(255,255, 255, 0.7);
}

.calendar-cell.calendar-cell-active.calendar-cell-future {
    color: black;
}

.calendar-cell.calendar-cell-selected {
    background-color: rgb(180, 223, 223);
    color: white;
    font-weight: bold;
}
.calendar-cell.calendar-cell-selected.calendar-cell-active.calendar-cell-future {
    background-color: rgb(34, 133, 151);
    color: white;
}

.calendar-cell.calendar-cell-active:hover {
    background-color: white;
    border-color: gray;
}

.calendar-cell.calendar-cell-selected.calendar-cell-highlighted,
.calendar-cell.calendar-cell-selected:hover,
.calendar-cell.calendar-cell-selected.calendar-cell-active:hover {
    background-color: rgb(14, 103, 121);
    color: white;
    font-weight: bold;
    border-color: white;
}

.calendar-cell-today.calendar-cell-active {
    border-color: rgb(34, 133, 151);
}

.calendar-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.calendar-controls-buttons {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
    margin: 1rem 0 0.5rem 0;
}
.calendar-controls-buttons-today {
    margin-right: 0.5rem;
}

.calendar-controls-direct {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}

input.calendar-controls-year {
    width: 6em;
}

.poll-date-tags {
    margin-top: 1rem;
    border-top: 1px gray solid;
    padding-top: 1rem;
    max-width: 700px;
}

.poll-date-tag {
    display: inline-block;
    color: white;
    margin: 4px;
}

.poll-date-tag-name {
    display: inline-block;
    background: rgb(34, 133, 151);
    line-height: 1.5;
    padding: 0 5px;
    border-radius: 3px 0 0 3px;
    cursor: default;
}
.poll-date-tag-name.poll-date-tag-name-highlighted {
    background-color: rgb(14, 103, 121);
}


.poll-date-tag-name-active {
    cursor: pointer;
}

.poll-date-tag-name-active:hover {
    text-decoration: underline;
}

.poll-date-tag-name.poll-date-tag-name-hidden {
    background-color: gray;
    text-decoration: line-through;
}

.poll-date-tag-delete {
    display: inline-block;
    background: rgb(34, 133, 151);
    border-left: 1px rgba(255, 255, 255, 0.4) solid;
    line-height: 1.5;
    padding: 0 3px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
}
.poll-date-tag-delete:hover {
    background-color: rgb(172, 0, 0);
}
.poll-date-tag-delete.poll-date-tag-delete-hidden {
    background: gray;
}
.poll-date-tag-delete.poll-date-tag-delete-hidden:hover {
    background: rgb(34, 133, 151);
}

.poll-date-tag-info {
    display: inline-block;
    line-height: 1.5;
    padding: 0 5px;
    margin: 4px;
    border-radius: 3px;
    background: gray;
}

.submit-row {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px darkgray dashed;
}

.submit-button {
    margin: 10px;
    padding: 10px;
    font-size: 15pt;
    box-shadow: -1px 1px 3px gray;
    border-radius: 5px;
    border: none;
}

.submit-button:disabled {
    background: gray;
    color: lightgray;
}

.project-created-title {
    border-left: 7px #48CD0E solid;
    padding: 7px 7px 7px 20px;
    font-size: 150%;
    margin: 30px 0;
}

.project-created-info-main {
    font-weight: bold;
}

.project-created-link-box {
    max-width: 100%;
    white-space: nowrap;
    overflow: auto;
    border: 1px white solid;
    background: white;
    border-radius: 2px;
    display: block;
    padding: 10px 0;
    text-align: center;
}

.project-created-link {
    font-weight: bold;
    word-break: break-all;
    margin: 0 5px;
}

.project-created-link-secret {
    font-size: 70%;
}

.vote-project {
    margin: 0 auto;
    padding: 0.5rem;
}

.vote-project-title-line {
    display: flex;
    align-items: center;
    margin: 0.7em 0;
}
.vote-project-title-cell {
    flex: 1;
}
.vote-project-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}
h1.vote-project-title {
    margin: 0 0;
}
input.vote-project-title {
    padding: 0.2em;
    width: 100%;
}

.vote-project-edit-cell {
    flex: 0;
    user-select: none;
    padding: 0 2px;
}
.vote-project-edit-button {
    color: #bbbbbb;
    font-size: 32px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.4em;
    min-height: 1.4em;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.vote-project-edit-button:hover {
    background: white;
    border-radius: 3px;
}

.vote-process-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-process-overlay-text {
    color: white;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    border: 2px lightgray solid;
    font-size: 150%;
}

.vote-poll-center-outer {
    display: flex;
    justify-content: center;
}

.vote-poll-center {
    overflow: auto;
}

.vote-poll {
    padding-bottom: 10px;
}

.vote-poll-preferred-width {
    width: 750px;
    max-width: 100%;
}

.vote-poll-title {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(102, 106, 102);
    border-bottom: 1px rgb(102, 106, 102) solid;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.vote-poll-description {
    white-space: pre-line;
    font-family: sans-serif;
}
.vote-poll-description:not(:empty) {
    margin-bottom: 20px;
}

.vote-legend {
    float: right;
}

.vote-legend-text {
    padding-right: 0.5rem;
}
@media (max-width: 400px) {
    .vote-legend-text {
        font-size: 12px;
    }
}

.vote-poll-table {
    border-spacing: 0px 1px;
    height: 100%; /* to make relative heights in cells work */
    box-sizing: border-box;
    padding-bottom: 0.5rem;
}
.vote-poll-table.padding-bottom {
    padding-bottom: 1.5rem;
}
.vote-poll-table > tr {
    height: 100%;
}

.vote-poll-table th {
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
}

.vote-poll-header-cell {
    padding: 5px;
    color: white;
    background: rgb(102, 106, 102);
    border-radius: 2px;
    min-width: 4.5em;
    height: 100%;
    box-sizing: border-box;
}

.vote-poll-header-cell-generic {
    width: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-poll-day-in-week {
    font-size: 130%;
}

.vote-poll-row > td {
    padding: 2px 3px;
    height: 1px;
}
.vote-poll-row > td:first-child {
    border-radius: 3px 0 0 3px;
    padding-left: 7px;
}
.vote-poll-row > td:last-child {
    border-radius: 0 3px 3px 0;
    padding-right: 7px;
}

.vote-poll-row-added.editable > td {
    background-color: rgb(219, 242, 215);
}
.vote-poll-row-existing.editable > td {
    background-color: rgb(215, 231, 251);
}

.vote-poll-name-cell {
    vertical-align: middle;
    text-align: right;
}

.vote-poll-name-cell-existing {
    display:  flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: end;
    flex-wrap: nowrap;
}

.vote-poll-name-cell-name {
    flex: 0 0 auto;
}

.vote-poll-name-cell-button {
    flex: 0 0 auto;
    width: 2rem;
    margin-right: 0.25em;
    font-size: 16px;
    background: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.vote-poll-name-cell-button:hover {
    background: white;
    border-color: darkgray;
}

.vote-poll-count-cell {
    text-align: center;
    vertical-align: center;
    padding: 3px 0;
}

.vote-poll-count-cell-max {
    font-weight: bold;
}

.vote-poll-count-positive {
    margin-right: 3px;
}

.vote-poll-count-yes {
    font-size: 90%;
    color: #0057B7;
}

.vote-poll-new-name-input, .vote-poll-existing-name-input {
    padding: 4px 2px;
    width: 10rem;
}
.vote-poll-existing-name-input {
    background: transparent;
    border: 1px lightgray solid;
}
.vote-poll-existing-name-input:disabled {
    color: #444;
}

.vote-poll-new-name-input, .vote-poll-existing-name-input.editable {
    background: white;
    border: 1px gray solid;
}

.vote-poll-new-name-input-invalid {
    border-color: red;
    border-width: 2px;
}

.vote-poll-select-cell {
    border: 1px rgb(197, 197, 197) solid;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
    user-select: none;
}

.editable .vote-poll-select-cell {
    cursor: pointer;
}

.vote-poll-select-cell.changed {
    border-color: black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.vote-poll-select-cell.transparent {
    opacity: 0.35;
}

.vote-poll-select-cell-yes {
    background: #0057B7;
    border-color: #0057B7;
}
.editable .vote-poll-select-cell-yes:hover {
    background: #003874;
}

.vote-poll-select-cell-svg-yes {
    fill: #4f91cd;
    stroke: #4f91cd;
    stroke-width: 3;
}

.vote-poll-select-cell-no {
    background: white;
    border-color: #d1d1d1;
}
.editable .vote-poll-select-cell-no:hover {
    background: #f0f0f0;
}

.vote-poll-select-cell-svg-no {
    fill: transparent;
    stroke: #cccccc;
    stroke-width: 2;
}

.vote-poll-select-cell-ifneeded {
    background: #FFD700;
    border-color: #FFD700;
}
.editable .vote-poll-select-cell-ifneeded:hover {
    background: #e9c600;
}

.vote-poll-select-cell-svg-ifneeded {
    fill: transparent;
    stroke: #fff7c8;
    stroke-width: 3;
}

.vote-poll-deleted-cell {
    border: 1px gray solid;
    background: transparent;
    color: gray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.vote-poll-edit-cell {
    text-align: center;
    vertical-align: middle;
    padding: 2px 5px;
    user-select: none;
}

.vote-poll-edit-link {
    font-size: 80%;
    cursor: pointer;
    color: #555;
}
.vote-poll-edit-link:hover {
    text-decoration: underline;
}
.vote-footer {
    max-width: 750px;
    padding: 3rem 1rem 1rem 1rem;
    margin: 0 auto;
    color: black;
}
.vote-footer a, .vote-footer a:visited, .vote-footer a:hover {
    color: black;
}
